# Prerequisites
build/
bin/
obj/

# MSVC/Visual Studio
.vs/
out/
*.exe
*.pdb
*.obj
*.ilk
*.log

# Cursor/VS Code
.vscode/
.cursor/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_local.cmake
Makefile

flight_data.csv
.venv/